/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset  {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* Blocs constituants --------------------------------------------------------------------------- */

#menu {
	border: 1px #0568CD solid;
	padding: 10px;
	margin: 10px;
}

#corps {
	margin: 10px;
}

/* Forms------------------------------------------------------------------------------------------- */

.erreur {
	color: #900;
}

/* Tableau ---------------------------------------------------------------------------------------- */

th {
	border: 1px #0568CD solid;
	padding: 10px;	
	background-color: #ffffff;
	color: #0568CD;
}



table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

td {
	border: 1px #aaaaaa solid;
	padding : 10px;
	text-align : left;
}

#action {
	text-align: center;
	color: #ff0000;
}

th#action {
	border-color: red;
}




